{
  "extends": "airbnb/base",
  "parser": "babel-eslint",
  "plugins": [ "import" ],
  "rules": {
    "semi": 0,
    "no-param-reassign": [2, { "props": false }],
    "import/no-amd": 2,
    "import/no-commonjs": 2,
    "import/no-deprecated": 2,
    "import/no-named-as-default": 2,
    "import/named": 2,
  }
}
